@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container p-3 my-3 border border-danger rental_history-index--border">

    <div class="row text-dark">
        <div class="col-sm-8">Most Recent Rental Histories</div>
        <div class="col-sm-4 rental_history-index--sortby">
            Sorted by:
            <button class="rental_history-index--dropmenu_button" type="button" data-toggle="dropdown">No Extra Sorting...</button>
            <div class=" dropdown-menu">
                <a class="dropdown-item" href="@Url.Action("Index", "RentalHistories", new { sortOrder = "NoExtraSorting" })">No Extra Sorting...</a>
                <a class="dropdown-item" href="@Url.Action("Index", "RentalHistories", new { sortOrder = "Damaged Rentals" })">Damaged Rentals</a>
                <a class="dropdown-item" href="@Url.Action("Index", "RentalHistories", new { sortOrder = "Undamaged Rentals" })">Undamaged Rentals</a>
                <a class="dropdown-item" href="@Url.Action("Index", "RentalHistories", new { sortOrder = "RentalsAtoZ" })">Rentals A-Z</a>
                <a class="dropdown-item" href="@Url.Action("Index", "RentalHistories", new { sortOrder = "RentalsZtoA" })">Rentals Z-A</a>
            </div>
        </div>
    </div>

<table class="table" id="accordionRentals">
    @foreach (var item in Model)
    {
        string dynamicName = "collapse" + @item.RentalHistoryID.ToString();            

        <tr>
            <td class="col-11">
                <div class="accordion">
                    <div>
                        <div>
                            <button class="btn btn-block text-left" style="border: none;box-shadow:none " data-toggle="collapse" data-target="#@dynamicName">
                                @if (item.RentalDamaged)
                                {
                                    <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #BD1A11; "></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-circle-check" style="color:green;"></i>
                                }
                                <span class="badge badge-dark rental_history-index--badgedef">@Html.DisplayFor(modelItem => item.Rental)</span>
                                @if (item.RentalDamaged)
                                {
                                    <span>Damaged... press for details</span>
                                }
                                else
                                {
                            <span>None... press for notes</span>
                                }
                            </button>
                        </div>

                        <div id="@dynamicName" data-parent="#accordionRentals" class="collapse">
                            <div class="card-body">
                                @if (item.RentalDamaged)
                                {
                                    <span class="">@item.DamagesIncurred</span>
                                }
                                else
                                {
                                    <span class="" style="color: lightslategrey; ">@item.DamagesIncurred</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div class="dropdown rental_history-index--dropdown-button">
                    <button class="btn btn-dark " type="button" data-toggle="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
                    </button>
                    <div class="dropdown-menu rental_history-index--icon">

                        <span class="dropdown-item"><i class="fa-solid fa-pen-to-square"></i>@Html.ActionLink("Edit", "Edit", new { id = item.RentalHistoryID }, new { @style = "color:#111;" })</span>
                        <span class="dropdown-item"><i class="fa-solid fa-circle-info"></i>@Html.ActionLink("Details", "Details", new { id = item.RentalHistoryID }, new { @style = "color:#111;" })</span>
                        <span class="dropdown-item"><i class="fa-solid fa-trash-can" style="color: #bd1a11;"></i>@Html.ActionLink("Delete", "Delete", new { id = item.RentalHistoryID }, new { @style = "color:#111;" })</span>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


